.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.form-title {
  font-weight: bold;
  color: #2e7d32; /* Verde institucional */
  margin-top: 8px;
}

.custom-shadow {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
/* login.component.css o global */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.login-actions {
  text-align: center;
  margin-top: 1.5rem;
}

.spinner {
  margin-right: 8px;
  vertical-align: middle;
}

.google-login {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
