<!-- layout.component.html -->
<mat-sidenav-container class="layout-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidebar">
    <div class="sidebar-header">
      <img src="https://cpu.unsm.edu.pe/imagenes/logo.png" alt="Logo" class="logo-img">
      <div class="text-center text-light mt-2">{{ obtenerRole() }}</div>

      <!-- Botón para cerrar el sidebar en móviles -->
      <button *ngIf="isMobile" mat-icon-button (click)="sidenav.close()" class="close-sidebar-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <!-- Común para todos -->
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>

      <!-- ADMINISTRADOR -->
      <a mat-list-item *ngIf="hasRole(['ADMINISTRADOR'])" routerLink="/usuarios" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Gestión de Usuarios</span>
      </a>

      <a mat-list-item *ngIf="hasRole(['ADMINISTRADOR'])" routerLink="/roles" routerLinkActive="active">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Gestión de Roles</span>
      </a>

      <a mat-list-item *ngIf="hasRole(['ADMINISTRADOR'])" routerLink="/cursos" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon>
        <span>Gestión de Cursos</span>
      </a>

      <a mat-list-item *ngIf="hasRole(['ADMINISTRADOR'])" routerLink="/docentes" routerLinkActive="active">
        <mat-icon>school</mat-icon>
        <span>Gestión de Docentes</span>
      </a>

      <a mat-list-item *ngIf="hasRole(['ADMINISTRADOR'])" routerLink="/matriculas" routerLinkActive="active">
        <mat-icon>assignment</mat-icon>
        <span>Gestión de Matrículas</span>
      </a>

      <!-- CLIENTE -->
      <a mat-list-item *ngIf="hasRole(['CLIENTE'])" routerLink="/mis-cursos" routerLinkActive="active">
        <mat-icon>class</mat-icon>
        <span>Mis Cursos</span>
      </a>

      <a mat-list-item *ngIf="hasRole(['CLIENTE'])" routerLink="/horario" routerLinkActive="active">
        <mat-icon>schedule</mat-icon>
        <span>Mi Horario</span>
      </a>
      <a mat-list-item  routerLink="/crypto-document" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Cifrado de Documentos</span>
      </a>
<!--       <a mat-list-item  routerLink="/digital-signature" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Firma Digital</span>
      </a> -->
      <a mat-list-item  routerLink="/upload-firmar" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Firmar Documento</span>
      </a>
      <a mat-list-item  routerLink="/verificar-firmas" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Verificar Firmas</span>
      </a>
      <a mat-list-item *ngIf="hasRole(['CLIENTE'])" routerLink="/perfil" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Mi Perfil</span>
      </a>



      <!-- Reportes -->
      <mat-menu #reportesMenu="matMenu">
        <button mat-menu-item routerLink="/reporte-notas">
          <mat-icon>bar_chart</mat-icon>
          Notas por Curso
        </button>
        <button mat-menu-item routerLink="/reporte-matriculas">
          <mat-icon>folder</mat-icon>
          Matrículas por ciclo
        </button>
      </mat-menu>

      <button mat-list-item [matMenuTriggerFor]="reportesMenu" *ngIf="hasRole(['ADMINISTRADOR'])">
        <mat-icon>analytics</mat-icon>
        <span>Reportes</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z4 toolbar">
      <!-- Botón para abrir el sidebar en móviles -->
      <button mat-icon-button *ngIf="isMobile" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="font-bold text-white">{{ title }}</span>

      <button mat-raised-button [color]="isAuthenticated ? 'warn' : 'accent'" (click)="isAuthenticated ? logout() : login()">
        <mat-icon>power_settings_new</mat-icon>
        {{ isAuthenticated ? obtenerName() : 'Iniciar sesión' }}
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
