/* Estilos generales */
#wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    
}

#sidebar-wrapper {
    width: 250px;
    background-color: #686f75;
    color: rgb(253, 248, 248);
    transition: margin-left 0.3s;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.logo-img {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    height: 80px; /* Ajusta el tamaño del logo según sea necesario */
    border-radius: 50%; /* Hace que el logo sea circular */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
    margin: 0 auto; /* Centra el logo horizontalmente */
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    flex: 1; /* Permite que la lista de navegación ocupe el espacio disponible */
}

.sidebar-nav .nav-item {
    margin: 10px 0;
}

.sidebar-nav .nav-link,
.sidebar-nav .dropdown-item {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .dropdown-item:hover {
    background-color: #717a84;
}

#page-content-wrapper {
    flex: 1;
    padding: 10px;
    /* background-image: url('/assets/logo.jpg'); */
    /*background-color: #178ae1;*/
}

.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#menu-toggle {
    margin-right: 10px;
}

#navbarContent {
    margin-left: auto;
}

.toggled #sidebar-wrapper {
    margin-left: -250px;
}

/* Estilos adicionales para el botón de iniciar/cerrar sesión */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #6a7178;
    border: none;
}

.dropdown-item {
    color: rgb(252, 250, 250);
}

.dropdown-item:hover {
    background-color: #495057;
}
.sss{
    
    background-color: rgb(252, 252, 252);
}
