.form-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
}

.full-width {
  width: 100%;
}

.mt {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.error-text {
  margin-top: 16px;
  color: red;
}
