<div class="usuarios-container">
  <mat-card class="usuarios-card">
    <h2 class="mat-headline text-center">
      <mat-icon>groups</mat-icon> Gestión de Usuarios
    </h2>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="openAddModal()">
        <mat-icon>person_add</mat-icon> Nuevo Usuario
      </button>

      <button mat-raised-button color="accent">
        <mat-icon>download</mat-icon> Exportar Excel
      </button>
    </div>

    <app-tabla-ag [columnDefs]="columnas" [rowData]="usuarios"></app-tabla-ag>
  </mat-card>

  <div *ngIf="showDialog" class="dialog-container">
  <mat-card class="form-card">
    <h3 mat-dialog-title>
      <mat-icon>person</mat-icon> {{ isEdit ? 'Actualizar Usuario' : 'Agregar Usuario' }}
    </h3>

    <form (ngSubmit)="saveUsuario()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="usuario.role" name="role">
          <mat-option value="ADMINISTRADOR">ADMINISTRADOR DEL SISTEMA</mat-option>
          <mat-option value="RECEPCIONISTA">RECEPCIONISTA</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="usuario.name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [(ngModel)]="usuario.username" name="username" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="usuario.password" name="password" required />
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
          {{ isEdit ? 'Actualizar' : 'Registrar' }}
        </button>
        <button mat-button type="button" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>

</div>
