<div class="container-center">
  <mat-card class="verify-card custom-shadow">
    <h3 class="text-center form-title mb-2">Verificación 2FA</h3>

    <p class="text-center mb-2">
      Se ha enviado un código de verificación al correo:
      <strong>{{ username }}</strong>
    </p>

    <p class="text-center small-text mb-3">
      Ingrese el código antes de que expire. Tiempo restante:
      <strong>{{ minutes }}:{{ seconds | number: '2.0' }}</strong>
    </p>

    <form (ngSubmit)="verifyCode()" *ngIf="!expired">
      <mat-form-field appearance="outline" class="full-width code-input">
        <mat-label>Código de verificación</mat-label>

          <input
            matInput
            type="text"
            [(ngModel)]="code"
            name="code"
            id="code"
            maxlength="6"
            required
            inputmode="text"
            placeholder="Ej. ABC123"
          />

        <mat-hint>Se envió a tu correo electrónico</mat-hint>
      </mat-form-field>


    <div class="text-center mt">
      <button mat-raised-button color="primary" type="submit" [disabled]="expired || isLoading">
        <mat-progress-spinner
          *ngIf="isLoading"
          diameter="20"
          mode="indeterminate"
          color="accent"
          style="vertical-align: middle; margin-right: 8px;"
        ></mat-progress-spinner>
        <span *ngIf="!isLoading">Verificar</span>
      </button>
    </div>

      <!-- ... (anterior contenido) ... -->





    </form>
<div *ngIf="expired  " class="text-center mt">
  <button routerLink="/login" mat-button color="accent" >Enviar otra vez</button>
</div>
    <p *ngIf="expired" class="text-center text-danger mt">
      El código ha expirado. Por favor, solicita uno nuevo.
    </p>
  </mat-card>
</div>
